
.navbar .btn-outline-light:hover {
    color: var(--bs-dark);
  }
  
  .nav-content{
    max-width: 1600px;
  }
  .navbar {
    margin: auto;
    background: var(--bs-dark);
    background-color: var(--bs-dark);
  }

  main{
    margin: auto
  }

  footer{
    max-width: 1600px;
    margin: auto
  }

  .nav-item{
    white-space: nowrap;
  }

  .nav-item a{
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
  }
  
  .navbar-sticky {
    opacity: 0.9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #fff;
  }
  
  .navbar-sticky a{
    color: #fff;
  }

  //Hero

  .hero-container{
    background-image: linear-gradient(90deg, #131317 0%,#211bb5 100%);
    padding: 1rem;
  }

  .hero-content{
    color: #FFF;
    max-width: 1600px;
    margin: auto;
    width: 100%;
    min-height: 80vh;
    display: flex;
  }

  .hero-content h1{
    font-size: 60px;
  }

  .hero-content p{
    font-size: 22px;
  }
  
  .hero-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .hero-image{
    width: 50%;
  }

  .hero-image img{
    width: 100%;
    height: 100%;
    min-width: 150px;
  }

  .fade-in {
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }
  
  .hidden {
    opacity: 0;
  }

  .line-one,
  .line-two,
  .line-three{
    width: 100%;
    min-height: 80px;
    max-height: 160px;
    font-weight: 600;
  }

  .change-life{
    color: #6fecc0 ;
  }
  
  /* FadingText.css */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards; /* Added "forwards" to keep final state */
  }
  
  .hidden {
    display: none;
  }

  .whatever{
    background-color: #5bf9c9;
    color: #19195D;
  }


  //About Section
  .about-container{
    width: 100%;
    min-height: 90vh;
    background-color: #413BCA;
  }

  .about-content{
    max-width: 1600px;
    margin: auto;
    height: 100%;
    display: flex;
    color: #f4f7f8;
  }

  .about-header{
    font-size: 36px;
  }

  .about-left,
  .about-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
  }

  .about-left{
    text-align: center;
  }

  .about-plus{
    color: #3b8Fe3;
  }

  //Indicator Section

  .indicator-container{
    width: 100%;
    min-height: 90vh;
    background-color: #19195D;
  }

  .indicator-content{
    max-width: 1600px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFF;
    text-align: center;
    border: #131317 1px solid;
  }
  //Indicator Section

  .card {
    width: 300px;
    height: 500px;
    color: #FFF;
    text-align: center;
    border: 5px solid;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    box-sizing: border-box; /* Ensure that border size is included in the width/height */
    cursor: pointer;
    transition: transform 0.1s ease;
    background-color: transparent;
  }
  
  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .active {
    border-bottom: 0;
    transform: translateY(20px);
    /* Slide the active card down by 20px */
    margin-bottom: -20px; /* Apply negative margin to overlap with the large box */
    z-index: 1; /* Ensure the active card is above the large box */
  }

  .card-content img{
    width: 100%;
  }

//media queries

@media (max-width: 1000px) {
    .navbar a{
      color: #fff;
      text-align: left;
    }

    .hero-content{
      flex-direction: column-reverse;
    }

    .about-content{
      flex-direction: column;
    }

    .hero-image,
    .hero-text{
      margin: auto;
    }
}

@media(max-width:600px){
  .navbar img{
    display: none;
  }
}
