
.navbar .btn-outline-light:hover {
    color: var(--bs-dark);
  }
  
  .nav-content{
    max-width: 1600px;
  }
  .navbar {
    margin: auto;
    background: var(--bs-dark);
    background-color: var(--bs-dark);
  }

  main{
    margin: auto;
  }

  .nav-item{
    white-space: nowrap;
  }

  .nav-item a{
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
  }
  
  .navbar-sticky {
    opacity: 0.9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #fff;
  }
  
  .navbar-sticky a{
    color: #fff;
  }

  //Hero

  .hero-container{
    background-image: linear-gradient(90deg, #131317 0%,#211bb5 100%);
    padding: 1rem;
  }

  .hero-content{
    color: #FFF;
    max-width: 1600px;
    margin: auto;
    min-height: 80svh;
    display: flex;
  }

  .hero-content h1{
    font-size: 60px;
  }

  .hero-content p{
    font-size: 22px;
  }
  
  .hero-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .hero-image{
    width: 50%;
  }

  .hero-image img{
    width: 100%;
    height: 100%;
    min-width: 150px;
  }

  .fade-in {
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }
  
  .hidden {
    opacity: 0;
  }

  .line-one,
  .line-two,
  .line-three{
    width: 100%;
    min-height: 80px;
    max-height: 160px;
    font-weight: 600;
  }

  .change-life{
    color: #6fecc0 ;
  }
  
  /* FadingText.css */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards; /* Added "forwards" to keep final state */
  }
  
  .hidden {
    display: none;
  }

  .whatever{
    background-color: #5bf9c9;
    color: #19195D;
  }


  //About Section
  .about-container{
    background-color: #413BCA;
  }

  .about-content{
    max-width: 1600px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    color: #f4f7f8;
  }

  .about-header{
    font-size: 36px;
  }

  .about-left,
  .about-right{
    width: 50%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
  }

  .about-left{
    text-align: center;
  }
  
  .about-left img{
    width: 100%;
  }

  .about-plus{
    color: #3b8Fe3;
  }

  //Indicator Section

  .indicator-container{
    width: 100%;
    min-height: 90vh;
    background-color: #19195D;
  }

  .indicator-content{
    max-width: 1600px;
    min-height: 90vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFF;
    text-align: center;
  }
  //Indicator Section

  .card {
    width: 300px;
    height: 500px;
    color: #FFF;
    text-align: center;
    border: 3px solid;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    box-sizing: border-box; /* Ensure that border size is included in the width/height */
    cursor: pointer;
    transition: transform 0.1s ease;
    background-color: transparent;
  }
  
  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .active {
    border-bottom: 0;
    transform: translateY(20px);
    /* Slide the active card down by 20px */
    margin-bottom: -20px; /* Apply negative margin to overlap with the large box */
    z-index: 1; /* Ensure the active card is above the large box */
  }

  .card-content img{
    width: 100%;
  }

  //Review Section

  .review-container{
    background-color: #413bca;
    height: 100vh;
    padding: 1rem;
}

.review-content{
    max-width: 1000px;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    color: #e9e9f9;
}

.quote-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-text{
    background-color: #fff;
    color: #242465;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3rem;
}

.review-content img{
    width: 50px;
    height: 50px;
    margin: -10px;
    padding: 0;
    
}

.review-content p{
    font-size: 20px;
}

.review-content .btn{
    padding: 1.5rem;
    font-size: 1.5rem;
    background-color: transparent;
    border: 1px solid #1d57ee;
    color: #fff;
    border-radius: 50px;
}

.review-content .btn:hover{
    background-color: #19195d;
}

//Discord Section
.discord-container{
  background-color: #15153a;
  height: 70vh;
  display: flex;
  padding: 1rem;
  padding-bottom: 0;
}

.discord-content-left{
  height: 100%;
  width: 70%;
  background-image: url('../images/Discord-scene-and-logo2-01.svg');
  background-repeat: no-repeat;
  background-position: bottom;
}

.discord-content-right{
  color: #fff;
  font-size: 1.5rem;
  width: 30%;
  height: 100%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.discord-content h1{
  margin: 1rem;
}

//Getting Started Section
.getting-started-container{
  background-color: #19195d;
  min-height: 50vh;
  padding: 1rem;
}

.getting-started-content{
  max-width: 1000px;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  margin: auto;
  text-align: center;
}

.getting-started-content h1{
  font-size: 2rem;
}

.getting-started-content p{
  font-size: 1.5rem;
}

.getting-started-content button{
  font-size: 1.5rem;
  background-color: transparent;
  border: #115cf1 3px solid;
  color: #fff;
  padding: 1.5rem;
  border-radius: 50px;
}

.getting-started-content button:hover{
  background-color: #48abff;
}

//Footer
.footer-top{
  background-color: #0e1934;
  min-height: 40vh;
  padding: 1rem;
}

.footer-top-content{
  max-width: 1600px;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #3a84ff;
}

.footer-bottom{
  background-color: black;
  height: 30px;
}

.commissions{
  max-width: 600px;
}

.commissions img{
  width: 200px;
}

.commissions a{
  color: #3a84ff;
}

.footer-navbar{
  list-style: none;
}

.footer-bottom-content{
  text-align: center;
  color: #3a84ff;
}


//media queries

@media (max-width: 1000px) {
    .navbar a{
      color: #fff;
      text-align: left;
    }

    .hero-content{
      flex-direction: column-reverse;
    }

    .hero-image,
    .hero-text{
      width: 100%;
      text-align: center;
    }


    .about-container{
      min-height: 100vh;
    }
    .about-content{
      flex-direction: column;
    }

    .about-right,
    .about-left{
      width: 100%;
      text-align: center;
    }
    .about-left img{
      width: 100%;
    }

    .discord-container{
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
  }

  .discord-content-right{
      margin: auto;
      width: 100%;
      text-align: center;
  }

  .discord-content-left{
      min-width: 500px;
  }

  .footer-top-content{
    flex-direction: column;
    text-align: center;
  }
}

@media(max-width:600px){
  .navbar img{
    display: none;
  }
}

@media(max-width:500px){
  .discord-content-left{
      display: none;
  }
  .discord-content-right{
      width: 100%;
  }
}
